/* Register Page CSS */

body {
    font-family: "Playwrite RO", cursive;
    background-color: #ffd4f9;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

header {
    background: linear-gradient(#cc00ff, #ff00bf, #fcef3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-size: 50px;
}

a {
    color: #b73bff;
    text-decoration: none;
}